@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

* {
    background-color: black;
    color: white;
    border: 1px solid white;
    box-sizing: border-box;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 500;

    padding: 0;
    margin: 0;

    border-radius: 7.5px;

    transition: all 0.3s ease;

    text-shadow: 0 0 7.5px white;
}

html {
    border: none;
}

body {
    border: none;
}

#mainDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: none;
}

#title {
    text-align: center;
    transform: translateY(12.5vh);
    font-size: 350%;
    border: none;
    font-weight: 800;
    background: none;
}

#Clock {
    width: clamp(250px, 75vw, 450px);
    height: 250px;
    border: 1px solid white;
    
    padding: 15px;
    transform: translateY(20vh);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Timer {
    font-size: 500%;
    letter-spacing: 3.5px;
    font-weight: 500;
    text-align: center;
    padding: 5px 0 5px 0;
    border: none;
}

#TimerButton {
    font-size: 200%;
    font-weight: 600;
    letter-spacing: 3.5px;
    width: 50%;
    align-self: center;
    padding: 5px 10px 5px 10px;
}

#TimerButton:hover {
    letter-spacing: 5px;
}

#Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    gap: 10%;
}

.menuButton {
    padding: 8px;
    width: 33%;
}

#setFocus {
    background-color: white;
    color: black;
}

.bghv-grey:hover {
    letter-spacing: 1px;
    cursor: pointer;
}

button {
    font-size: 120%;
    background-color: black;
    outline: none;
}

/* progressBar */
#progressBar {
    width: 100%;
    height: 10px;
    position: absolute;
    transform: translateY(90vh) translateX(-100vw);
    border-radius: 0;
}

hr {
    width: 100%;
    height: 100%;
    border: 5px solid white;
    border-radius: 0;
    color: white;
    filter: brightness(500%);
}

script {
    display: none;
}
